*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* --width: 0; */
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.progress-bar {
  position: relative;
  width: 400px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #bab7b4;
  border-radius: 100px;
  /* transition: width 0.3s ease-in-out; */
}

.progress-bar::before {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: calc(var(--width, 0) * 1%);
  min-width: 12px;
  max-width: calc(100%);
  background-color: #77db89;
  border-radius: 100px;
  /* transition: width 0.3s ease-in-out; */
  /* padding: 1em; */
}
